body, html{
    height: 100%;
    
}
html{
    scroll-behavior: smooth;
}

.yeartext{
    text-align: center;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}
.font{
    font-size: 500px;
    color: white;
}
.spacer{
    width: 100%;
    height: 5%;
}
.y2004{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(imgs/2004.JPG);
    background-position-y:50% ;
}
.y2005{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(imgs/2005.JPG);
}
.y2006{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(imgs/2006.jpg);
}
.y2007{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(imgs/2007.JPG);
    background-position-y: 50%;
}
.y2008{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(imgs/2008.JPG);
    background-position-y: 30%;
}
.y2009{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(imgs/2009.JPG);
    background-position-y: 50%;
}
.y2010{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(imgs/2010.JPG);
    background-position-y:50%;
}
.y2011{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(imgs/2011.JPG);
    background-position-y: 40%;
}
.y2012{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(imgs/2012.JPG);
    background-position-y:20%;
}
.y2013{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(imgs/2013.JPG);
    background-position-y: 40%;
}
.y2014{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(imgs/2014.jpg);
    background-position-y:20%;
}
.y2015{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(imgs/2015.jpg);
    background-position-y:80%;
}
.y2016{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(imgs/2016.jpg);
    background-position-y:50%;
}
.y2017{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(imgs/2017.jpg);
    background-position-y: 100%;
}
.y2018{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(imgs/2018.jpg);
    background-position-y: 80%;
}
.y2019{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(imgs/2019.jpg); 
}
.y2020{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(imgs/2020.jpg);
}
.year{
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}